.LoginContainer {
  text-align: center;
  justify-content: center;
}

.LoginContainer label {
  color: #eee;
}

#eventId {
  width: 200px;
  margin-top: 5%;
}

#password {
  width: 200px;
  margin-top: 5%;
}

.LoginContainer div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}