.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.container-fluid {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #333333;
}

.logo {
    height: 120px;
    margin-right: 45em;
}

.App-header {
    background-color: #222;
    height: 170px;
    padding: 20px;
    color: #333333;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App .btn-success {
    margin: 25px;
}

.App ul {
    font-family: "Quicksand";
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
